<%= form_with model: [@test, @question], local: true do |form| %>
  <p>
    <%= form.label :question %>:
    <%= @question.body %>
  </p>

  <p>
    <%= link_to 'Edit', edit_test_question_path(@test, @question) %> |
    <%= render partial: 'question_deleter',
               locals: { test: @test, question: @question } %>
  </p>
<% end %>

<%= link_to 'To Tests', tests_path %> |
<%= link_to 'Back', @test %>

<%= render 'shared/footer' %>