<%= form_with model: [@test, @question], local: true do |form| %>
  <h1>
    <%= "\'#{@test.title}\' Question" %>
  </h1>

  <p>
    <%= @question.body %>
  </p>

  <p>
    <%= link_to 'Edit', edit_test_question_path(@test, @question) %> |
    <%= render partial: 'shared/question_deleter',
               locals: { test: @test, question: @question } %>
  </p>

  <h2>Answers</h2>

  <ol>
    <%= render @question.answers %>
  </ol>

  <p>
    <%= link_to 'New answer', new_test_question_answer_path(@test, @question) %>
  </p>
<% end %>

<%= link_to 'To Tests', tests_path %> |
<%= link_to 'Back', @test %>
