<div class="row justify-content-center mt-5">
  <div class="col col-md-4">
    <h2><%= t('.header') %></h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <p>
          <%= f.label :email, t('.email') %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </p>
      </div>

      <div class="actions">
        <%= f.submit t('.button'), class: "btn btn-dark" %>
      </div>
    <% end %>

    <div class="mt-2 mb-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
