<div class="container-fluid mt-4">
  <h1 class="text-center">
    <%= t('.passing', test_title: @test_passage.test.title) %>
  </h1>

  <h5 class="text-center mt-2">
    <%= t('.questions_count', count: @test_passage.test.questions.count) %>
  </h5>

  <table class="table table-bordered border-dark mt-3">
    <tr>
      <th>
        <h5 class="text-center">
          <%= t('.question_number', number: @test_passage.current_question.number) %>
        </h5>
      </th>
    </tr>

    <tr>
      <th>
        <h5 class="mt-1 mb-2 d-block">
          <%= @test_passage.current_question.body %>
        </h5>

        <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>

          <%= form.collection_check_boxes :answer_ids,
                                          @test_passage.current_question.answers,
                                          :id,
                                          :body,
                                          include_hidden: false do |b| %>
            <p class="form-check">
              <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
              <%= b.label class: "form-check-label" %>
            </p>
          <% end %>
          <p>
            <%= form.submit t('.next'), class: "btn btn-dark mt-3" %>
          </p>
        <% end %>
      </th>
    </tr>
  </table>
</div>
