<footer>
  <p>
    <%= current_year %> |
    <%= t('.author') %> |
    <%= github_url('beast8357', 'test-guru') %>
  </p>

  <p>
    <%= t('.description') %>
  </p>
  
  <p>
    <%= school_url %>
  </p>
</footer>
