<footer class="page-footer bg-light fixed-bottom">
  <p class="text-center">
    <%= current_year %> |
    <%= t('.author') %> |
    <%= github_url('beast8357', 'test-guru') %>
  </p>

  <p class="text-center">
    <%= t('.description') %>
  </p>
  
  <p class="text-center">
    <%= school_url %>
  </p>
</footer>
