<footer class="footer py-3 bg-light">
  <p class="text-center">
    <%= current_year %> |
    <%= t('.author') %> |
    <%= github_url('beast8357', 'test-guru') %><br>
    <%= t('.description') %><br>
    <%= school_url %>
  </p>
</footer>
