<nav class="navbar navbar-dark bg-dark">
  <%= link_to "TestGuru", root_path, class: "navbar-brand fs-4 mx-4" %>

  <span class="navbar-text">
    <% if user_signed_in?%>
      <%= t('.welcome', user_name: current_user.first_name) %>

      <% if current_user.admin?%>
      <button type="button" class="btn btn-dark">
        <%= link_to t('.admin_panel'), admin_tests_path,
                                       class: "nav-link active" %>
      </button>
      <% end %>

      <button type="button" class="btn btn-dark">
        <%= link_to t('.log_out'), destroy_user_session_path,
                                   method: :delete,
                                   class: "nav-link active" %>
      </button>
    <% else %>
      <button type="button" class="btn btn-dark">
        <%= link_to t('.log_in'), new_user_session_path,
                                  class: "nav-link active" %>
      </button>
      <button type="button" class="btn btn-dark">
        <%= link_to t('.sign_up'), new_user_registration_path,
                                   class: "nav-link active" %>
      </button>
    <% end %>
  </span>
</nav>
