<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "TestGuru", root_path, class: "navbar-brand fs-4 mx-5" %>

    <div class="nav-item">
      <% if user_signed_in?%>
        <span class="btn btn-dark disabled">
          <% if current_user.admin? %>
            <%= t('.welcome', user_name: current_user.email) %>
          <% else %>
            <%= t('.welcome', user_name: current_user.first_name) %>
          <% end %>
        </span>
        <% if current_user.admin?%>
          <button type="button" class="btn btn-dark">
            <%= link_to t('.admin_panel'), admin_tests_path,
                                           class: "nav-link active" %>
          </button>
        <% end %>

        <%= link_to t('.my_badges'), user_badges_path,
                                     class: "btn btn-dark" %>

        <%= render 'shared/select_language' %>

        <button type="button" class="btn btn-dark">
          <%= link_to t('.log_out'), destroy_user_session_path,
                                     method: :delete,
                                     class: "nav-link active" %>
        </button>
      <% else %>
        <%= render 'shared/select_language' %>

        <button type="button" class="btn btn-dark">
          <%= link_to t('.log_in'), new_user_session_path,
                                    class: "nav-link active" %>
        </button>

        <button type="button" class="btn btn-dark">
          <%= link_to t('.sign_up'), new_user_registration_path,
                                     class: "nav-link active" %>
        </button>
      <% end %>
    </div>
  </div>
</nav>
