<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1><%= answer_header(current_question, @answer) %></h1>

      <h2><%= current_question.body %></h2>

      <%= form_with model: [:admin, current_test, current_question, @answer], local: true do |form| %>
        <%= render 'shared/errors', resource: @answer %>

        <p>
          <%= form.label :body %><br>
          <%= form.text_area :body, id: :answer_body, rows: 7, cols: 60 %>
        </p>

        <p>
          <%= form.label :correct %>:
          <%= form.check_box :correct, id: :answer_correct %>
        </p>

        <p>
          <%= form.submit %>
        </p>
      <% end %>

      <%= link_to t('.to_tests'), admin_tests_path, class: "btn btn-primary" %>
      <%= link_to t('.back'), admin_test_question_path(current_test, current_question), class: "btn btn-primary" %>
    </div>
  </div>
</div>
