<h1><%= t('.creating') %></h1>

<p>
  <%= current_question.body %>
</p>

<%= render 'form' %>

<%= link_to t('.to_tests'), admin_tests_path %> |
<%= link_to t('.back'), admin_test_question_path(current_test, current_question) %>
