<h1>Question</h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b>Answer:</b>
  <%= @answer.body %>
</p>

<p>
  <b>Correct:</b>
  <%= @answer.correct %>
</p>

<%= link_to 'To Tests', admin_tests_path %> |
<%= link_to 'Back', admin_test_question_path(current_test, current_question) %>
