<div class="container">
  <% if @user_badges.any? %>
    <table class="table mt-5">
      <thead class="table-dark text-center">
        <tr>
          <td colspan="2"><%= t('.my_badges') %></td>
        </tr>
      </thead>

      <tbody>
        <%= render @user_badges %>
      </tbody>
    </table>

    <%= render 'show_all_badges' %>
  <% else %>
    <h1 class="text-center align-middle mt-5"><%= t('.no_badges') %></h1>
    <%= render 'show_all_badges' %>
  <% end %>
</div>
