<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h2><%= question_header(current_test, @question) %></h2>

      <%= form_with model: [:admin, current_test, @question], local: true do |form| %>
        <%= render 'shared/errors', resource: @question %>

        <p>
          <%= form.label :body %><br>
          <%= form.text_area :body, placeholder: true, rows: 7, cols: 60 %>
        </p>

        <p><%= form.submit class: "btn btn-primary" %></p>
      <% end %>

      <%= link_to t('.to_tests'), admin_tests_path, class: "btn btn-primary" %>
      <%= link_to t('.back'), admin_test_path(current_test), class: "btn btn-primary" %>
    </div>
  </div>
</div>
