<h1><%= t('.header', test_title: @question.test.title) %></h1>

<p><%= @question.body %></p>

<h2>Answers</h2>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to t('.new_answer'), new_admin_test_question_answer_path(current_test, @question) %>
</p>

<p>
  <%= link_to t('.edit'), edit_admin_test_question_path(current_test, @question) %> |
  <%= link_to t('.delete'),
              admin_test_question_path(current_test, @question),
              method: :delete,
              data:   { confirm: 'Are you sure?' } %>
</p>

<p>
  <%= link_to t('.to_tests'), admin_tests_path %> |
  <%= link_to t('.back'), admin_test_path(current_test) %>
</p>
