<div class="container mt-3">
  <h3 class="mb-2"><%= t('.header', test_title: @question.test.title) %></h3>

  <h3><%= @question.body %></h3>

  <table class="table table-bordered border-dark mt-3">
    <tr>
      <th class="text-center"><%= t('.answers') %></th>
      <th class="text-center" colspan="3"><%= t('.actions') %></th>
    </tr>

    <%= render @question.answers %>
  </table>
</div>

<div class="container">
  <%= link_to t('.new_answer'), new_admin_test_question_answer_path(current_test, @question), class: "btn btn-primary" %>
</div>

<div class="container text-center">
  <p>
    <%= link_to t('.to_tests'), admin_tests_path, class: "btn btn-primary" %>
    <%= link_to t('.back'), admin_test_path(current_test), class: "btn btn-primary" %>
  </p>
</div>
