<h1><%= @question.test.title %> Question</h1>

<p><%= @question.body %></p>

<h2>Answers</h2>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to 'New answer', new_admin_test_question_answer_path(current_test, @question) %>
</p>

<p>
  <%= link_to 'Edit', edit_admin_test_question_path(current_test, @question) %> |
  <%= link_to 'Delete',
              admin_test_question_path(current_test, @question),
              method: :delete,
              data:   { confirm: 'Are you sure?' } %>
</p>

<p>
  <%= link_to 'To Tests', admin_tests_path %> |
  <%= link_to 'Back', admin_test_path(current_test) %>
</p>
