<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <h2><%= test_header(@test) %></h2>

      <%= form_with model: [:admin, @test], local: true do |form| %>
        <%= render 'shared/errors', resource: @test %>

        <p>
          <%= form.label :title %><br>
          <%= form.text_field :title, required: true, placeholder: true %>
        </p>

        <p>
          <%= form.label :level %><br>
          <%= form.number_field :level, required: true %>
        </p>

        <p>
          <%= form.label :category_id %><br>
          <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
        </p>

        <p>
          <%= form.label :active %>
          <%= form.check_box :active %>
        </p>

        <p><%= form.submit %></p>

        <p>
          <%= link_to t('.back'), admin_tests_path(@test), class: "btn btn-primary" %>  
        </p>
      <% end %>
    </div>
  </div>
</div>
