<%= render 'shared/errors', resource: @test %>

<div class="container">
  <h1 class="mt-5 mb-4 text-center"><%= t('.header') %></h1>

  <div class="table-responsive">
    <table class="table table-bordered border-dark">
      <thead>
        <tr class="text-center">
          <th class="sort-by-title-admin pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: "text-success hide" %>
            <%= octicon 'arrow-down', class: "text-success hide" %>
          </th>
          <th><%= t('.level') %></th>
          <th><%= t('.questions') %></th>
          <th><%= t('.time_limit') %></th>
          <th colspan="4"><%= t('.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <%= render @tests %>
      </tbody>
    </table>
  </div>
</div>

<div class="container">
  <%= link_to t('.new_test'), new_admin_test_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <%= link_to icon('github', t('.show_gists')), admin_gists_path, class: "btn btn-primary mt-3" %>
</div>
