<div class="container mt-3">
  <table>
    <h3>
      <%= t('.category') %>
      <%= @test.category.title %>
    </h3>

    <h3>
      <%= t('.title') %>
      <%= @test.title %>
    </h3>

    <h3>
      <%= t('.level') %>
      <%= test_level(@test) %>
    </h3>
  </table>

  <table class="table table-bordered border-dark">
    <tr>
      <th class="text-center"><%= t('.questions') %></th>
      <th class="text-center" colspan="3"><%= t('.actions') %></th>
    </tr>

    <%= render @test.questions %>
  </table>
</div>

<div class="container">
  <%= link_to t('.new_question'), new_admin_test_question_path(@test), class: "btn btn-primary" %>
</div>

<div class="container text-center">
  <%= link_to t('.back'), admin_tests_path, class: "btn btn-primary" %>
</div>
