<div class="container mt-3">
  <table>
    <h5>
      <%= t('.category') %>
      <%= @test.category.title %>
    </h5>

    <h5>
      <%= t('.title') %>
      <%= @test.title %>
    </h5>

    <h5>
      <%= t('.level') %>
      <%= test_level(@test) %>
    </h5>

    <h5>
      <%= t('.active') %>
      <%= @test.active %>
    </h5>

    <p>
      <%= link_to t('.edit'),
                edit_admin_test_path(@test),
                class: "btn btn-primary" %>
    </p>
  </table>

  <div class="table-responsive">
    <table class="table table-bordered border-dark">
      <tr>
        <th class="text-center"><%= t('.questions') %></th>
        <th class="text-center" colspan="3"><%= t('.actions') %></th>
      </tr>

      <%= render @test.questions %>
    </table>
  </div>
</div>

<div class="container">
  <%= link_to t('.new_question'), new_admin_test_question_path(@test), class: "btn btn-primary" %>
</div>

<div class="container text-center">
  <%= link_to t('.back'), admin_tests_path, class: "btn btn-primary" %>
</div>
