<div class="container">
  <h1 class="mt-3 mb-3 text-center"><%= t('.header') %></h1>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr class="table-active text-center">
        <th class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: "test-success hide" %>
          <%= octicon 'arrow-down', class: "text-success hide" %>
        </th>
        <th><%= t('.level') %></th>
        <th><%= t('.questions') %></th>
        <th><%= t('.action') %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>
