<p>
	<strong>Category:</strong>
	<%= @test.category.title %>
</p>

<p>
	<strong>Title:</strong>
	<%= @test.title %>
</p>

<p>
	<strong>Level:</strong>
	<%= test_level(@test) %>
</p>

<%= render 'shared/test_questions' %>
<%= render 'shared/footer' %>